<div class="form">
    <h1>Add New Buddy</h1>
    <form (ngSubmit)="createBuddy()" novalidate>
        <div>
            <label for="buddyName">Name</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.name" name="buddyName" placeholder="Name">
            </div>
        </div>
        <div>
            <label for="buddyAddress">Address</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.address" name="buddyAddress" placeholder="Address" />

            </div>
        </div>
        <div>
            <label for="buddyPostalCode">Postal Code</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.postal_code" name="buddyPostalCode" placeholder="Postal Code" />

            </div>
        </div>
        <div>
            <label for="buddyPhone">Phone</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.phone" name="buddyPhone" placeholder="Phone" />

            </div>
        </div>
        <div>
            <label for="buddy-service-type">Service Type</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.service_type" name="buddy-service-type" placeholder="Service Type" />

            </div>
        </div>
        <div>
            <input class="button button-block" type="submit" value="Add Buddy">
        </div>
        <strong id="error">{{errorMessage}}</strong>
    </form>
</div>