<div class="form">
    <h1>Edit Buddy Details</h1>
    <form (ngSubmit)="editBuddy()" novalidate>
        <div>
            <label for="buddyName">Name</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.name" name="buddyName" placeholder="Name" value="{{buddy.name}}">
            </div>
        </div>
        <div>
            <label for="buddyAddress">Address</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.address" name="buddyAddress" placeholder="Address" value="{{buddy.address}}" />

            </div>
        </div>
        <div>
            <label for="buddyPostalCode">Postal Code</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.postal_code" name="buddyPostalCode" placeholder="Postal Code" value="{{buddy.postal_code}}" />

            </div>
        </div>
        <div>
            <label for="phone">Phone</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.phone" name="phone" placeholder="Phone" value="{{buddy.phone}}" />

            </div>
        </div>
        <div>
            <label for="service-type">Service Type</label>
            <div>
                <input type="text" required [(ngModel)]="buddy.service_type" name="service-type" placeholder="Service Type" value="{{buddy.service_type}}" />

            </div>
        </div>
        <div>
            <input class="button button-block" type="submit" value="Update Buddy">
        </div>
        <strong id="error">{{errorMessage}}</strong>
    </form>
</div>